<p id="notice"><%= notice %></p>

<%=	link_to('Listen', @digitalfile.mp3.url) %>

<%= link_to 'Edit', edit_user_digitalfile_path(@user, @digitalfile) %> |
<%= link_to 'Back', user_digitalfiles_path(@user) %>
