<h1>Listing mediafiles</h1>

<table>
  <tr>
    <th>Uuid</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mediafiles.each do |mediafile| %>
  <tr>
    <td><%= link_to 'Show', user_mediafile_url(@user, mediafile) %></td>
    <td><%= link_to 'Destroy', user_mediafile_path(@user, mediafile), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mediafile', new_user_mediafile_path(@user,@mediafile) %>
