<div id="container"> 
	<div class="box">
		<%= image_tag('loading_lrg.gif', :class => 'loader download-loader') %>
				<%- # request.host_with_port + request.fullpath %> 
				<%- # production request.host + request.fullpath %> 
				<div class="download-link shadow opacity"><%=	link_to('Download', @mediafile.mp3.url) %></div>
	 </div>
</div>

