<div id="container"> 
	<div class="box">
				<%- # request.host_with_port + request.fullpath %> 
				<%- # production request.host + request.fullpath %> 
				<%=	link_to('Download', @mediafile.mp3.url, :class => 'download-link shadow opacity') %>
	 </div>
</div>

