#admin-container {
  max-width: 100%;
  min-height: 100%;
  position:fixed;
  width:100%;
  background:rgba(0,0,0,.8);
  box-shadow: 0 0 5px #222222;
  padding:40px;
}

form#user_edit {
width: 700px;
color:#fff;
}

form#user_edit label {
  color:#fff;
}